<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="" method="">
     <label for="">Team Name:</label>
     <label for="">Coach:</label>
     <label for="">Point Guard:</label>
     <label for="">Shooting Guard:</label>
     <label for="">Power Forward:</label>
     <label for="">Small Forward:</label>
     <label for="">Center:</label>
   </form>
 </body>
</html>


